<div class="container mx-auto bg-slate-50">
  <header class="flex flex-wrap items-center justify-between py-3 mb-4 border-b">
    <a href="/" class="flex items-center mb-2 md:mb-0 text-gray-800 no-underline">
      <svg class="mr-2" width="40" height="32" role="img" aria-label="Bootstrap">
        <!-- Icono SVG -->
      </svg>
    </a>

    <ul class="flex flex-wrap justify-center mb-2 md:mb-0 space-x-5">
      <li><a  class="text-gray-500 hover:text-gray-800  font-bold" routerLink="/">Inicio</a></li>
      <li><a routerLink="/prestamo" class="text-gray-800 hover:text-gray-800  font-bold" routerLink="/prestamo">Prestamos</a></li>
      <li><a  class="text-gray-800 hover:text-gray-800  font-bold"routerLink="/faq">FAQs</a></li>
      <li><a  class="text-gray-800 hover:text-gray-800  font-bold" routerLink="/about">Acerca De</a></li>
    </ul>

    <div class="text-right">
      <button routerLink="/login" type="button" class="border borSder-blue-500 text-blue-500 py-2 px-4 rounded mr-2 hover:bg-blue-500 hover:text-white transition">
        Login
      </button>
      <button routerLink="/signup" type="button" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 transition">
        Sign-up
      </button>
    </div>
  </header>
</div>
